
<li class="nav-item dropdown show">
      <a class="btn dropdown-toggle" href="#" data-toggle="dropdown">Select League</a>
      <div class="dropdown-menu">
          <a class="dropdown-item" href="#">East Kent</a>     
          <a class="dropdown-item" href="#">West Kent</a> 
      </div>    
        
  </li>
